//- [dash:data]
    {
        "status": "development",
        "category": "module",
        "label": "jade-module",
        "link": "./jade-module.html"
    }
    [/dash]
//- [dash:jade]
    include test/fixtures/jade/jade-module
    +myComponent()
    [/dash]

mixin myComponent()
    div.my-component
        p This is an example paragraph
