//- [dash:data]
    {
        "status": "development",
        "category": "page",
        "label": "jade-page"
    }
    [/dash]

doctype html
html(lang="en")
    head
        title Test Page
    body
        h1 Jade - node template engine
